# Part of the Carbon Language project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Python dependencies, consumed by /WORKSPACE.
gql >= 2.0.0, < 3.0.0
PyGitHub
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
